*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: #1a1a1a;
}

.wrapper{
  min-height: 100vh;
  max-width: 1920px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.header{
  height: 100px;
  background-color: black;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}

.header-left{
  line-height: 100px;
}

.header-right{
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  color: red;
  font-size: 40px;
  margin-bottom: 20px;
}

.searchbar{
  width: 400px;
  padding: 10px 10px;
  font-size: 18px;
  margin-right: 10px;
  border-radius: 6px;
}

button{
  width: 80px;
  padding: 10px 10px;
  font-size: 18px;
  border-radius: 6px;
}

.search-field{
  color: white;
  padding: 50px 20px;
  font-size: 30px;
}

.research-title{
  margin: 20px 0;
  font-size: 50px;
  color: white;
}

.movie-card-container,
.tv-series-container{
  width: 100%;
  height: 100%;
  margin: auto;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between; */
}

.movie-card-container::after{
  content: '';
  display: table;
  clear: both;
}

.movie-card,
.tv-card{
  height: 500px;
  width: 300px;
  list-style-type: none;
  float: left;
  perspective: 1000px; /*aggiunge effetto 3d*/
  margin: 20px  38px;
}


.movie-card-inner,
.tv-card-inner{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.movie-card:hover .movie-card-inner,
.tv-card:hover .tv-card-inner{
  transform: rotateY(180deg);
}

.movie-card-front, .movie-card-back,
.tv-card-front, .tv-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.movie-card-front,
.tv-card-front {
  background-color: #bbb;
  color: black;
}

.movie-card-back,
.tv-card-back {
  background-color: black;
  color: white;
  transform: rotateY(180deg);
  border-radius: 10px;
  overflow: auto;
}

.movie-card-back li,
.tv-card-back li{
  margin: 10px 0;
  font-size: 20px;
}

.movie-card-poster,
.tv-card-poster{
  width: 100%;
  height: 100%;
}

.movie-card-poster img,
.tv-card-poster img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

#stars {
display: flex;
justify-content: center;

}
